<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <center>    
    <label for="complaints">what's your complaints ?</label><br><br>
    <textarea name="complaints" id="" placeholder="write here...."></textarea>
    <BR><BR>
    <button type="submit" >SUBMIT</button>
    </center>
    </form>
 
</body>
</html>