{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="bg table">
    <table>
        <tr>
            <th>Name</th>
            <th>Email id</th>
            <th>Feedback</th>
            <th>Rating</th>
        </tr>
        {%for i in obj %}
        <tr>
            <td>{{i.USERID.Name}}</td>
            <td>{{i.USERID.Email}}</td>
            <td>{{i.Feedback}}</td>
            <td>{{i.Rating}}</td>
            
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>