<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form action=""  method="POST">
        {% csrf_token %}
        <input type="text" name="Username" placeholder="username">
        <br>
        <input type="password" name="Password" placeholder="password">
        <br>
        <a href="">forget password</a><br>
        <button type="submit">Login</button><br>
        <a href="register">Register</a>
    </form>
    </center>
</body>
</html>