{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="bg table">
    <table>
        <tr>
            <th>Name</th>
            <th>Email id</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        {%for i in obj %}
        <tr>
            <td>{{i.Name}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Gender}}</td>
            <td>{{i.Age}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>