*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bg{
    background-image: url("../img/handifylogo.png");
    background-position: center;
    background-blend-mode:multiply;
    background-size:30% ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: #96c492c9;
}
.sidebar{
    width: 100px;
    height: 100%;
    background-color: #17384f;
    display: flex;
    flex-direction: column;
}
.sidebar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-top: 20px;
    transition: 0.5s;

}
.sidebar a:hover{
    background-color: rgba(174, 233, 213, 0.481);

}
.table{
    display:flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
   
}
.table table{
    margin-top: 50px;
    width: 750px;
    background-color: #ffffff;
    border-radius: 10px;
     margin-top: 50px;
}
th,td{
    text-align: left;
    padding: 10px;
    border-left: 2px solid black;
}
